
.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.header > img{
    padding-left: 3rem;
}

.list {
  display: flex;
}

.list > li {
  list-style: none;
  margin-right: 5rem;
  cursor: pointer;
  line-height: 4em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list > li:hover{
   color: brown;
}

.resList{
    display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
padding-top:1rem
}

.card {
    border: 3px solid burlywood;
    border-radius: 7px;
    margin-bottom: 2rem;
    width: 300px;
  }


  h2{
    text-align: center;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
  }